{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BookEx</title>
	<link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
</head>
<body>
<header>
	<div class="nav-container">
		<nav class="navbar">
			<ul>
				{% block navbar %}
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#contact">Contact</a></li>
				{% endblock navbar %}
			</ul>
		</nav>

		<div class="login">
	        <span style="float: right;">
	            {% if user.is_authenticated %}
		            {{ user.username }}
		            <form action="{% url 'logout' %}?next=/" method="post">
	                   <button type="submit">Logout</button>
	                   {% csrf_token %}
	               </form>
	            {% else %}
		            <a href="{% url 'login' %}?next=/"><button>Login</button></a>
	            {% endif %}
	        </span>
		</div>
	</div>

	<div class="banner">
		<img src="{% static 'bookshelf.png' %}" height="120"/>
	</div>
</header>


<main class="content">
	{% block content %}
		<h1>Main Content</h1>
	{% endblock content %}
</main>

<footer>
	<p>&copy; 2025 My Web Layout</p>
</footer>
</body>
</html>