{% extends "base.html" %}
{% load static %}

{% block title %}BookEx - Login{% endblock %}
{% block page_title %}BookEx - Login{% endblock %}

{% block content %}
	<h1>User Login</h1>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} </li>
			{% endfor %}
		</ul>
	{% endif %}

	<form action="{% url 'login' %}" method="post">
		<table id="login-form">
			{{ form.as_table }}
			<tr>
				<th></th>
				<td style="padding-top: 1em">
					<button type="submit" class="button">
						<i class="fas fa-sign-in-alt"></i> Submit
					</button>
					<a href="{% url 'register' %}" class="button">
						<i class="fas fa-user-plus"></i> Register
					</a>
				</td>
			</tr>
		</table>

		<input type="hidden" name="next" value="{{ next }}"/>
		{% csrf_token %}
	</form>
{% endblock content %}