/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Layout */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header (Banner) */
header {
    background: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

header .nav-container {
    
}

header .navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    justify-content: flex-end;
}

header .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

header .navbar a {
    color: white;
    text-decoration: none;
}

.banner img {
}

/* Main Content */

.content {
    flex-grow: 1;
    margin-left: 20px;
}

.content section {
    margin-bottom: 20px;
}

.content h2 {
    color: #333;
}

.content p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Footer */

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    font-size: 14px;
}