{% extends "base.html" %}
{% load static %}

{% block page_styles %}
	<link rel="stylesheet" href="{% static 'css/about_us.css' %}" type="text/css">
{% endblock page_styles %}

{% block title %}About BookEx{% endblock %}
{% block page_title %}About BookEx{% endblock %}


{% block content %}

	<div class="about-us-container">
		<h1>About BookEx</h1>

		<p>
			Welcome to BookEx! We're building a straightforward and friendly online space <strong>designed by book lovers, for book
			lovers</strong>. Our goal is to connect readers, making it simple to buy books you're searching for and sell the ones you're ready to
			pass on.
		</p>

		<p>Think of BookEx as your go-to spot to:
		<ul>
			<li><strong>Declutter Your Shelves:</strong> Easily list books you've finished reading.</li>
			<li><strong>Discover Your Next Read:</strong> Browse listings from fellow readers and find great deals.</li>
			<li><strong>Manage Your Exchange:</strong> Keep track of your listings and potential purchases easily.</li>
		</ul>
		<p>We aim to make the entire process accessible and reliable. Thank you for joining our community and giving your books a new chapter!</p>
	</div>
{% endblock content %}