{% extends "base.html" %}
{% load static %}


{% block title %}Book Detail - {{ book.name }}{% endblock %}
{% block page_title %}Book Detail: {{ book.name }}{% endblock %}

{% block content %}
	<h1>Book Detail</h1>
	<table class="book-detail-table">
		<thead>
		<tr>
			<th> Book Cover</th>
			<th> Book Name</th>
			<th> Book Price</th>
			<th> User</th>
			<th> Book Post Date</th>
			<th> Book Website</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><img src="{{ book.picture.url }}" width="100" alt="Cover for {{ book.name }}"/></td>
			<td> {{ book.name }} </td>
			<td> {{ book.price }} </td>
			<td> {{ book.username }} </td>
			<td> {{ book.publishdate }} </td>
			<td> {{ book.web }} </td>
		</tr>
		</tbody>
	</table>

	{% if request.user == book.username %}
		<p class="back-link"></p><a href="{% url 'mybooks' %}"> « Back to My Books </a>
	{% endif %}

	<p class="back-link"><a href="{% url 'displaybooks' %}"> « Back to All Books </a></p>


{% endblock content %}