{% extends "base.html" %}
{% load static %}


{% block title %}Book Detail - {{ book.name }}{% endblock %}
{% block page_title %}Book Detail: {{ book.name }}{% endblock %}

{% block content %}
	<h1>Book Detail</h1>
	<table class="book-detail-table">
		<thead>
		<tr>
			<th> Book Cover</th>
			<th> Book Name</th>
			<th> Book Price</th>
			<th> Seller</th>
			<th> Book Post Date</th>
			<th> Book Website</th>
			<th> Action</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><img src="{{ book.picture.url }}" width="100" alt="Cover for {{ book.name }}"/></td>
			<td> {{ book.name }} </td>
			<td> {{ book.price }} </td>
			<td> {{ book.username }} </td>
			<td> {{ book.publishdate }} </td>
			<td> {{ book.web }} </td>
			<td>
				{% if user.is_authenticated %}
					{% if book.username == user %}
						<span class="button disabled" style="cursor: not-allowed; background-color: grey;"
						      title="You cannot add your own book to the cart">You Own This Book</span>
					{% else %}
						<form method="post" action="{% url 'addtocart' book.id %}" style="display: inline;">
							{% csrf_token %}
							<button type="submit" class="button">
								<i class="fas fa-cart-plus"></i> Add to Cart
							</button>
						</form>
					{% endif %}
				{% else %}
					<a href="{% url 'login' %}?next={{ request.path }}" class="button">
						<i class="fas fa-sign-in-alt"></i> Login to Add
					</a>
				{% endif %}
			</td>
		</tr>
		</tbody>
	</table>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} </li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if origin == 'mybooks' %}
		<a href="{% url 'mybooks' %}" class="button"> <i class="fas fa-arrow-left"></i> Back to My Books </a>
	{% else %}
		<a href="{% url 'displaybooks' %}" class="button"> <i class="fas fa-arrow-left"></i> Back to All Books </a>
	{% endif %}

{% endblock content %}