{% extends "base.html" %}
{% load static %}

{% block title %}Display Books{% endblock %}

{% block page_title %}Display Books{% endblock %}

{% block content %}
	<h1>Display Books</h1>

	<form id="searchForm">
		<input type="text"
		       id="searchInput"
		       placeholder="Search Books..."
		       data-search-url="{% url 'booksearch_ajax' %}"
		>

	</form>

	<table>
		<thead>
		<tr>
			<th>Book Cover</th>
			<th>Book Name</th>
			<th>Book Price</th>
			<th>User Name</th>
		</tr>
		</thead>
		<tbody id="bookTableBody">
		{% for book in books %}
			<tr>
				<td>
					<a href="#" data-book-id="{{ book.id }}">
						<img src="{{ book.picture.url }}" width="100" alt="Cover for {{ book.name }}"/>
					</a>
				</td>
				<td>
					<a href="#" data-book-id="{{ book.id }}"> {{ book.name }} </a>
				</td>
				<td>{{ book.price }}</td>
				<td>{{ book.username.username }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{% if user.is_authenticated %}
		<p class="back-link">
			<a href="{% url 'mybooks' %}" class="button">
				<i class="fas fa-address-book"></i> View My Books
			</a>
		</p>
	{% endif %}

	<script src="{% static 'js/bookSearch.js' %}"></script>

{% endblock content %}