{% extends "base.html" %}
{% load static %}

{% block title %}My Books{% endblock %}
{% block page_title %}My Books{% endblock %}

{% block content %}
	<h1>My Books</h1>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }} </li>
			{% endfor %}
		</ul>
	{% endif %}

	<table class="mybooks-table">
		<thead>
		<tr>
			<th>Book Cover</th>
			<th>Book Name</th>
			<th>Book Price</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for book in books %}
			<tr>
				<td><img src="{{ book.picture.url }}" width="100" alt="Cover for {{ book.name }}"/></td>
				<td><a href="book_detail/{{ book.id }}"> {{ book.name }} </a></td>
				<td> {{ book.price }} </td>
				<td><a href="book_delete/{{ book.id }}"> Delete </a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<p class="back-link"><a href="{% url 'displaybooks' %}" class="button"> View All Books </a></p>

{% endblock content %}